@page "{id:guid}"
@model DetalleModel
@{
    ViewData["Title"] = "Detalle del Producto";
}

<h1>Detalle del Producto</h1>

<div class="container">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.producto.Nombre</h5>
                <p><b>Descripción:</b> @Model.producto.Descripcion</p>
                <p><b>Categoría:</b> @Model.producto.Categoria / @Model.producto.SubCategoria</p>
                <p><b>Precio:</b> $@Model.producto.Precio</p>
                <p><b>Precio USD:</b> $@Model.producto.PrecioUSD</p>
                <p><b>Stock:</b> @Model.producto.Stock</p>
                <p><b>Código de Barras:</b> @Model.producto.CodigoBarras</p>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" asp-page="./Index">Regresar</a>
    <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.producto.Id">Editar</a>
</div>